/* MOBILE ONLY */
@media (max-width: 768px) {
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: #FF9826;
        border-inline-start: 1px solid #ccc;
        min-width: 200px;
        align-items: start;

        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    .logo {
        max-height: 40px;
    }

    .toggle-menu-btn,
    .exit-menu-btn {
        border: none;
        background: none;
    }

    .exit-menu-btn {
        position: absolute;
        font-size: large;
        right: 0.2em;
        top: 0.2em;
    }

    .toggle-menu-btn {
        width: 100px;
        font-size: x-large;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 20px rgb(0 0 0 / 25%);
        transform: translateX(0);
    }

    .main-nav .header-links {
        flex-direction: column;
        margin-top: 4em;
    }

    .main-nav .header-links a {
        display: flex;
        justify-content: center;
        padding: 8px 10px;
        color: white;
    }

    .main-header .header-links li:not(:last-child) a {
        padding-bottom: 4em;
        border-block-end: 1px solid white;
    }


    .main-nav .header-links a:hover {
        text-shadow: 0px 1px #716868
    }

    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        transition: opacity 0.6s;

        opacity: 0;
        pointer-events: none;
    }

    body.menu-open .main-screen {
        opacity: 1;
        pointer-events: auto;
    }

    .gallery-btn {
        z-index: 1;
        margin-bottom: 4em;
        margin-top: 0em;
    }
}

@media(max-width: 630px) {
    .keywords-container {
        display: none;
    }

    .gallery-container {
        top: 5em;
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        place-content: center;
    }

    img.gallery-img,
    .upload-container {
        max-height: 150px;
    }
}

@media (min-width: 768px) {

    .toggle-menu-btn,
    .exit-menu-btn {
        display: none;
    }

    .main-header .main-nav-list>*:not(:last-child) {
        margin-inline-end: 100px;
    }
}

@media (max-width: 900px) {
    .keywords-container {
        display: none;
    }

    .gallery-container {
        top: 5em;
    }

    .meme-editor:not(.hide) {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .canvas-display {
        display: flex;
        position: static;
        background: none;
        max-height: 300px;
        justify-content: center;
        align-items: center;
        margin-inline-end: 3em;
    }

    .main-canvas {
        border: none;
        border-radius: 1em;
        background-color: none;
        margin-block-start: 0em;
        margin-block-end: 2em;
    }

    .editor-controllers {
        background: none;
        background-color: #fff;
        justify-content: center;
        align-items: center;
    }

    .text-editor {
        max-width: 300px;
    }

    .imojis {
        max-width: 300px;
        column-gap: 1px;
    }

    .imojis>* {
        width: 30px;
    }

    .text-editor>* {
        padding: 1px;
        margin-bottom: 5px;
    }

    .editor-title {
        font-size: large;
        text-align: center;
    }

    .download-share {
        column-gap: 0.5em;
    }

    .btn {
        width: 6em;

        padding: 0.8em;
        margin-top: 1em;
        margin-left: 0;

        font-size: 0.7em;
    }
}