* {
    box-sizing: border-box;
}

body {
    background-color: #f0eded;
    font-family: 'Roboto, sans-serif';
}

body.gallery .gallery-link {
    color: rgb(255, 170, 0);
}

.gallery-container {
    display: grid;
    position: absolute;
    grid-auto-flow: row;
    margin-block-start: 5em;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: calc(200px * 6 + 9em);
    column-gap: 1em;
    row-gap: 1em;
}