* {
    box-sizing: border-box;
}

:root {}

body {
    background-color: #F8F8F8;
    font-family: 'Roboto, sans-serif';
}

body.gallery .gallery-link {
    color: rgb(255, 170, 0);
}
body.saved .saved-memes-link {
    color: rgb(255, 170, 0);
}
body.about .about-link {
    color: rgb(255, 170, 0);
}

.gallery-container, .saved-memes-container {
    display: grid;
    position: absolute;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 99vw;
    margin-block-start: 5em;
    column-gap: 0.6em;
    row-gap: 2em;
    place-items: center;
    align-items: center;
}

img.gallery-img {
    max-width: 180px;
    margin-inline-start: 1em;
    border-radius: 1em;
    cursor: pointer;
    -webkit-user-drag: none;
}

.main-header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #ffffff;
    z-index: 100;
}

.main-nav {
    display: flex;
    width: 100%;
}

img.logo {
    padding: 0.5em;
    align-self: center;
    width: max-content;
    margin-inline-start: 1em;
    height: 50px;
}

img.logo:hover {
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 3em;
}

ul>* {
    list-style: none;
}

li>a {
    text-decoration: none;
    color: rgb(129, 127, 127);
    font-size: 1em;
    margin-inline-end: 1.5em;
}

li>a:hover {
    color: rgb(255, 170, 0);
}

/* editor */

.editor-title {
    color: rgb(66, 66, 66);
}

.meme-editor {
    display: grid;
    margin-block-start: 5em;
    grid-template-columns: 2fr 1.3fr;
}

.gallery-btn {
    grid-column: 1;
    border: none;
    background: none;
    color: rgb(164, 164, 164);
    place-self: start;
    font-size: 1em;
    z-index: 2;
    margin-bottom: 2em;
}

.canvas-display {
    grid-column: 1;
    position: absolute;
    justify-content: center;
    background-color: #fff;
    top: 4em;
    left: 0;
    height: 100vh;
    width: 50%;
    padding: 2em;
}

.editor-controllers {
    grid-column: 2;
}

.search-bar {
    position: relative;
    display: block;
    top: 8vh;
}

.search-bar input {
    width: calc(100vw - 2em);
    display: block;
    margin-inline-start: 1em;
    border: none;
    border-radius: 3em;
    height: 2em;
    text-indent: 1em;
    font-style: italic;
    justify-self: center;
}

.main-canvas {
    border: none;
    border-radius: 1em;
    background-color: none;
    margin-inline-start: 3em;
    margin-block-start: 5em;
}

.color-input {
    Opacity: 0;
    Bottom: -3px;
    Left: 0;
    appearance: none;
    inline-size: 0px;
    block-size: 0px;
    border-image: initial;
    padding: 0px;
}

.fa-solid.fa-plus {
    border: 1px solid black;
    border-radius: 0.01em;
}

.fa-arrow-right-arrow-left {
    transform: rotate(90deg);
}

.text-editor {
    background-color: #fff;
    padding: 1em;
    width: max-content;
    border-radius: 1em;
}

.lines-container {
    border-top: 0.5px solid black;
    margin-top: 0.5em;
}

.text-input {
    border: none;
    padding: 1.5em;
    width: 100%;
    font-size: large;
    color: rgb(66, 66, 66);
}

input {
    caret-color: rgb(136, 0, 255);
}

input:focus {
    outline: none;
}

.font-btn {
    border: none;
    background: none;
    color: rgb(97, 97, 97);
}

.imojis {
    display: grid;
    grid-column: 2;
    grid-auto-flow: row;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    column-gap: 0.9em;
    background-color: #fff;
    width: max-content;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 1em;
}

.imojis>*:hover {
    cursor: pointer;
}

.download-share {
    display: grid;
    grid-column: 2;
    justify-content: space-between;
    grid-auto-flow: column;
    width: max-content;
    column-gap: 1em;
}

.btn {
    width: 5.5em;

    border: none;
    border-radius: 4em;
    margin-top: 1em;
    padding: 1em;

    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    margin-left: 0.3em;
}

.btn>.fa-solid,
.btn>.fa-brands {
    font-size: large;
}

.btn:hover {
    opacity: 0.8;
}

.download-meme {
    background-color: orange;
    text-align: center;
}

.share-meme {
    background-color: rgb(255, 217, 0);
}

.facebook-share {
    background-color: rgb(72, 59, 246);
}

.save-meme {
    background-color: rgb(207, 205, 205);
}

button:hover {
    cursor: pointer;
}

.upload-img {
    position: relative;
    top: 5em;
}

input[type="file"] {
    display: none;
}

.upload-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    width: 170px;
    height: 170px;
    border: none;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 1px 1px 2px 0 #0000001f;
    margin-inline-start: 1em;
    border-radius: 1em;
    cursor: pointer;
    -webkit-user-drag: none;
}

.upload-container:hover,
.custom-file-upload:hover {
    background-color: #f2f0f0;
    cursor: pointer;
}

.custom-file-upload {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 250;
    color: rgb(129, 127, 127);
    text-shadow: 1px 1px 3px #00000021;
    cursor: pointer;
}

/* footer */

/* footer {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: end;
    gap: 20px;

    padding: 10px;
    background-color: rgb(233, 223, 206);
    width: 100%;

    align-items: center;
    justify-content: center; 
} */


/* about1 */

.about-view {
    position: relative;
    top: 5em;
    margin-inline-start: 1.2em;
    color: #0000019f;
    font-family: roboto;
    line-height: 150%;
}

.about-title {
    color: #000001c9;
    font-size: 1.5em;
}
.about-txt {
    font-size: 1.1em;
    margin-inline-start: 0.1em;
}

